@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); /* Used for the design/header text */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap'); /* Used for body text */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap'); /* Used for the battle notes */

body {
    background-image: url("../images/background.png");
    background-color: #181818 ;
    color: #c6bbdd;
    font-family: 'Philosopher', sans-serif;
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

.header {
    position: absolute;
    width: 100vw;
    height: 100px;
    margin-top: 10px;
    padding: 5px;
    z-index: 10;
    background-color: #202040;
}

#interface {
    position: absolute;
    padding: 150px 50px 150px 50px;
    height: auto;
    background-color: #4f3b78;
}

.quote {
    text-align: center;
    font-size: 20px;
}

.quotePers {
    font-style: italic;
    text-align: right;
    font-size: 17px;
}

.btn-lg {
    background-color: #202040;
    border: none;
    color: #c6bbdd;
}

.btn-lg:hover{
    background-color: #927fbf;
    border: none;
    color: #c6bbdd;
}

.btn-lg:active {
    background-color: #202040;
    border: none;
    color: #c6bbdd;
}

.iconPic {
    margin: 1px;
    border-radius: 4px;
    filter: contrast(200%);
    filter: grayscale(100%);
}

.iconPic:hover {
    width: 90px;
    filter: none;
}


/* BATTLE RELATED */
#battlescreen {
    height: 450px;
    width: 100%;
    border-radius: 25px;
    background-image: url("../images/Setting/nether.png");
    background-size: cover;
}

#insideBattle {
    padding: 10px 30px 10px 30px;
}

#battlePlayer, #battleEnemy {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

#battleLvl{
    font-size: 15px;
    font-weight: bold;
}

.progress {
    height: 1.5em;
    width: 150px;
    margin: 10px;
    background-color: #c9c9c9;
    position: relative;
  }
.progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    top: 2.5px;
    left: 0;
    right: 0;
  }
.progress .healthBar {
    background-color: red;
    display: inline-block;
    height: 100%;
  }
.progress .constBar {
    background-color: blue;
    display: inline-block;
    height: 100%;
  }
.progress .expBar {
    background-color: yellow;
    display: inline-block;
    height: 100%;
  }

#insideBattlePicRow{
    padding: 20px 50px 20px 50px;
  }

.battlePic{
      height:250px;
      box-shadow: 10px 10px black;
  }

#battleNotes{
      font-family: 'Roboto Mono', monospace;
      height: 100px;
      margin-top: 5px;
      overflow: auto;
      padding: 20px 30px;
      line-height: 5px;
      font-size: 10px;
      background-color: #202040;
  }

.bNPlayer{
    font-weight: bold;
    color: #a6b1e1;
}

.bNEnemy{
    font-weight: bold;
    color: #af8baf;
}

.ability {
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    background-color: #202040;
}

.ability:hover {
    color: #6f42c1;
    background-color: #0f0f1e;
    cursor: pointer;
}